body {
font: 85% 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.newlyAdded {
border: 2px solid rgba(255, 0, 0, 0.44);
}

.letterGroupActive, .btnGroupActive {
	border: 2px solid rgba(58, 135, 173, 0.63) !important;
}

.modal input {
	margin-bottom: 0;
}

.modal-body {
	max-height: 700px;
	padding: 10px;
}

.modal-header {
/*	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
	background-repeat: repeat-x;
	border-bottom: 1px #eaeaea solid;*/
	/*background-color: #eaeaea;
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	border: 1px solid #d5d5d5;*/
	background: rgba(0, 114, 198, 0.75);
	color: rgba(255, 255, 255, 0.7);
}

.modal-header h3 {
	line-height: 18px;
	font-size: inherit;
}

.modal-header .close {
	margin-top: -2px;
	color: white;
}

#launchCorrection{
	margin-left: 15px;
	margin-top: 15px;
	vertical-align: top;
}

.btn input {
	width: 24px;
	margin-bottom: 0 !important;
	text-align: center;
	padding: 1px 6px;

}

.enterLetterParent {
  display: none !important;
}

.img-polaroid {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.btn .img-polaroid {
	padding: 0;
}

.btn img {
	max-height: 38px;
	max-width: 38px;
}

.centerBtns {
	border: 1px solid #eeeeee;
	padding: 5px 10px 0;
}

.customBtn {
	cursor: default;
	width: 42px;
	padding: 1px;
}

.customBtn:first-child{
	background: #3a87ad;				
}

#correctionModal {
	width: 90%;
	margin-left: -45%;
	border: 3px solid rgba(218, 218, 218, 0.66);
}

.modal.fade.in {
	top: 5%;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.modal .btn-group {
	margin-bottom: 5px;
	margin-left: 0;
}

.modal-footer {
	padding: 4px 5px 5px;
}

.bordered {
	margin: 15px 0;
	padding: 10PX;
	background-color: rgb(214, 214, 214);
	border: 1px solid #ddd;
}

.leftSide {
	width: 48px;
	height: 48px;
}

#goToLetterGroup {
	width: 12px;
}

.media {
	margin-top: 10px;
}

.customClose {
	opacity: .8;
	cursor: pointer;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	padding: 1px 3px;
	border: 2px solid whitesmoke;
	border-radius: 16px;
	font-size: 12px;
}

.customClose:hover {
	opacity: .5;
}

.btn-primary {
	background-color: rgba(0, 109, 204, 0.7);
	background-image: -moz-linear-gradient(top, rgba(0, 136, 204, 0.7), rgba(0, 68, 204, 0.7));
	background-image: -webkit-linear-gradient(top, rgba(0, 136, 204, 0.7), rgba(0, 68, 204, 0.7));
	background-image: -o-linear-gradient(top, rgba(0, 136, 204, 0.7), rgba(0, 68, 204, 0.7));
	background-image: linear-gradient(to bottom, rgba(0, 136, 204, 0.7), rgba(0, 68, 204, 0.7));
	background-repeat: repeat-x;
	border-color: rgba(0, 109, 204, 0.7) rgba(0, 109, 204, 0.7) #002a80;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background: rgba(0, 109, 204, 0.7);
}