<!DOCTYPE html>
<html>
<head>
	<title>Letter Based Correction</title>
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/custom-responsive.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
	<a data-toggle="modal" href="#correctionModal" class="btn" id="launchCorrection">Launch demo modal</a>

	<div id="correctionModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="correctionModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <span class="icon-remove pull-right customClose" data-dismiss="modal"></span>
	    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
	    <h3 id="correctionModalLabel">Letter Based Correction</h3>
	  </div>
	  <div class="modal-body">
	  	<div id="mediaGroup">
									    
	  	</div>
	  </div>
	  <div class="modal-footer">
	    <p class="pull-left" style="margin:0"><span>Enter command: </span><input autofocus id="goToLetterGroup" type="text" placeholder="" maxlength="1"><input autofocus id="listToBeMoved" type="text" placeholder=""><a href="#" class="btn customPopover" data-toggle="popover" data-placement="top"><i class="icon-question-sign"></i></a><span id="groupNotPresent" class="label label-important hide">Group Not Present</span></p>
	    <button id="loadNext" class="btn pull-left"><i class="icon-arrow-right"></i></button>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	    <button class="btn btn-primary" onclick="saveModifiedData()">Save Changes</button>
	  </div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/bootstrap.js"></script>
	<script id="btnGroupTemplate" type="text/template">
		<div class='btn-group btn-group-vertical' disabled>
			<button type='button' class='btn customBtn'><span class='badge badge-info numberBadge'></span></button>
			<button type='button' class='btn customBtn imageParent'><img class='img-polaroid' src='<%= imgSource %>' alt='<%= value %>.png'></button>
			<!-- <button type='button' class='btn customBtn imageParent'><canvas height="38" width="38"></canvas></button> -->
			<button type='button' class='btn customBtn enterLetterParent' tabindex='-1'><input class='enterLetter' type='text' value='<%= value %>' maxlength='1'></button>
		</div>
	</script>
	<script id="letterGroupTemplate" type="text/template">
		<div class='media'>
		  	<a class='pull-left' href='#'>
		    	<img class='media-object img-polaroid' src='img/<%= name %>_original.png' style='width:64px; height:64px;' alt="<%= name %>.png">
		  	</a>
		  	<div class='media-body'>
		    	<div class='centerBtns letterGroup' data-letter="<%= name %>"</div>
			</div>
		</div>
	</script>
	<script>
		var fit_modal_body = function() {
			var modalBody = $(".modal-body"),
				headerheight = $('.modal-header')[0].offsetHeight,
				footerheight = $('.modal-footer')[0].offsetHeight,
				modalPadding = parseInt($('.modal').css('border-width')),
				topAndBottom = 40,
				modalBodyPadding = 20;

		  var modalHeight = window.innerHeight - topAndBottom - modalPadding - modalBodyPadding- headerheight - footerheight;
		  modalBody.css("max-height", "" + modalHeight + "px");
		};

		$(window).resize(function() {
			return fit_modal_body();
		});

		var currentActiveGroup;

		function isNumber(n) {
		  return !isNaN(parseFloat(n)) && isFinite(n);
		}

		$('#correctionModal').on('shown', function () {
			$('#goToLetterGroup').focus().select(); 
			fit_modal_body();
		});

		$('#correctionModal').on('hidden', function () {
			$('#goToLetterGroup').val("");
		});

		$('.btn').find('input').on('keyup', function(e) {
			if(e.keyCode == 13) {
				$('#correctionModal').modal("hide");
			}
		});

		$(document).keydown(function (e) {
			// CTRL + G(72) for focusing on #goToLetterGroup input
			if(e.ctrlKey && e.keyCode == 71 || e.keyCode === 192) {
				$("#goToLetterGroup").focus().select();
				e.preventDefault();
			}
			// CTRL + S(83) for saving modified data
			else if(e.ctrlKey && e.keyCode == 83) {
				saveModifiedData();
				e.preventDefault();
			}
		});

		$(document).keyup(function(e) {
			if($(e.target).hasClass('enterLetter')) {
				var letterEntered = $(e.target).val().toUpperCase(),
					isChar = /[A-Za-z]/.test(letterEntered);

				if(isChar) {
					var $targetGroup = $(".letterGroup[data-letter=" + letterEntered + "]"),
						$elementToBeMoved = $(e.target).closest('.btn-group'),
						oldGroupName = $elementToBeMoved.closest('.letterGroup');
					if($targetGroup.length !== 0) {
						addElementInGroup(letterEntered, $elementToBeMoved);
					}
					else {
						createLetterGroup(letterEntered);
						addElementInGroup(letterEntered, $elementToBeMoved);
					}
					reRenderNumberBadegs();
				}
			}
		});

		$("#goToLetterGroup").bind('input', function (e) {
			currentActiveGroup = this.value.toUpperCase();
			$('.letterGroupActive').removeClass('letterGroupActive');
			var elem = document.getElementById('groupNotPresent');
			var sourceGroup = $(".letterGroup[data-letter=" + currentActiveGroup + "]");
			var topPadding = 10;
			$(elem).addClass("hide");

			// If group is present focus on next input box else inform the user
			if(sourceGroup.length && this.value.length) {
				sourceGroup.addClass('letterGroupActive');
				// Scroll ".modal-body" to that element
				$('.modal-body')[0].scrollTop = sourceGroup[0].offsetTop - topPadding;
				$('#listToBeMoved').focus().select();
			}
			else {
				var elem = document.getElementById('groupNotPresent');
				$(elem).removeClass("hide");
				elem.style.webkitAnimationDuration = "400ms";
				setTimeout(function(){
					elem.style.webkitAnimationDuration = "0ms";
				}, 500);
				$(this).select();
			}
		});

		$("#listToBeMoved").bind('input', function (e) {
			var $sourceGroup = $(".letterGroup[data-letter=" + currentActiveGroup + "]");
			var targetElement = this.value;
			
			targetElement = isCorrectFormat(targetElement);
			if(targetElement) {
				var $elementToBeMoved = $sourceGroup.find('.btn-group').eq(targetElement.number - 1);
				addElementInGroup(targetElement.target, $elementToBeMoved);
				reRenderNumberBadegs();
				e.target.value = "";
			}
		});

		function isCorrectFormat(numberTarget) {
			var number = numberTarget.substring(0, numberTarget.length - 1),
				target = numberTarget[numberTarget.length - 1];
			
			if(isNumber(number)) {
				if(/[A-Za-z]/.test(target))
					return {
						number: number,
						target: target.toUpperCase()
					}
			}

			var $sourceGroup = $(".letterGroup[data-letter=" + currentActiveGroup + "]");
			number = numberTarget.substring(0, numberTarget.length),
			$('.btnGroupActive').removeClass('btnGroupActive');
			$sourceGroup.find('.btn-group').eq(number - 1).addClass('btnGroupActive');
			return false
		}

		function saveModifiedData () {
			//Save functionality goes here
			$('.newlyAdded').removeClass('newlyAdded');
			$('#correctionModal').modal("hide");
		}

		function createLetterGroup (groupName){
			var strLetterGroup = _.template($('#letterGroupTemplate').html(),{
				name:groupName.toUpperCase()
			});
			$('#mediaGroup').append(strLetterGroup);
		}

		function addElementInGroup (groupName, elementToBeMoved) {
			var $targetGroup = $(".letterGroup[data-letter=" + groupName + "]"),
				$sourceGroup;
			if($targetGroup.length == 0)
				createLetterGroup(groupName);
			$targetGroup = $(".letterGroup[data-letter=" + groupName + "]");
			var previousGroupName;
			elementToBeMoved.find('input').parent().addClass("enterLetterParent");
			previousGroupName = elementToBeMoved.find('input').val();
			elementToBeMoved.find('input').val(groupName);
			$targetGroup.append(elementToBeMoved);
			elementToBeMoved.addClass('newlyAdded');
			$('.btnGroupActive').removeClass('btnGroupActive');
			// If group is going to remove after moving operation then remove that group
			$sourceGroup = $(".letterGroup[data-letter=" + previousGroupName.toUpperCase() + "]");
			if(!$sourceGroup.find('.btn-group').length) {
				$sourceGroup.closest('.media').remove();
			}
		}

		function reRenderNumberBadegs (){
			var a = Date.now();	
			$('.numberBadge').each(function () {
				this.innerHTML = $(this).closest('.btn-group').index() + 1;
			});
			console.log(Date.now() - a);
		}

		function createBtnGroup(imageScanned, scanResultValue){
			var imgSource = imageScanned,
				value = scanResultValue.toUpperCase(),
				$targetGroup = $(".letterGroup[data-letter=" + value + "]");

			var strBtnGroup = _.template($("#btnGroupTemplate").html(), {
				imgSource: imageScanned,
				value: scanResultValue
			});

			if($targetGroup.length == 0) {
				createLetterGroup(value);
				$targetGroup = $(".letterGroup[data-letter=" + value + "]");
			}

			$targetGroup.append(strBtnGroup);
		}

		//Adding btnGroups here
		function createBtnGroups () {
			for (var i = 0; i <= 26; i++) {
				if(i === 1 || i === 7 || i === 9)	
					createBtnGroup("img/b.png", "a");
				createBtnGroup("img/a.png", "a");
			}

			for (var i = 0; i <= 36; i++) {
				if(i === 14 || i === 10 || i === 21)	
					createBtnGroup("img/a.png", "b");
				createBtnGroup("img/b.png", "b");
			}
			
			for (var i = 0; i <= 5; i++) {
				createBtnGroup("img/c.jpg", "c");
			}

			for (var i = 0; i <= 136; i++) {
				createBtnGroup("img/p.jpg", "p");
			}

			for (var i = 0; i <= 89; i++) {
				createBtnGroup("img/t.jpg", "t");
			}

			$('.imageParent').on('click', function () {
				$(this).next().toggleClass('enterLetterParent').children('input').focus();
			});
		}

		function loadNext() {
			$('.media').remove();
		}

		function init() {
			createBtnGroups();
			reRenderNumberBadegs();			
			$('.customPopover').popover({
				html: true,
				title: 'Help for writing Command',
				content: 'First char: Source Group.' + 
					'<br>Last Char: Target Group.' +
					'<br>Middle characters should be numbers to jump up within group.' +
					'<br><b>Examples:' +
					'<br>1] "A" & "21J"<br>2] "B" & "1M"<br>3] "Y" & "16H"'
			});
		}
		
		$('launchCorrection').on('click', function(){
			$('#correctionModal').modal("show");
		});

		$('#loadNext').mousedown(function() {
			$(this).find('i').removeClass().addClass('icon-spinner icon-spin icon-large');
		});
		
		$('#loadNext').mouseup(function() {
			loadNext();
			reRenderNumberBadegs();
			$(this).find('i').removeClass().addClass('icon-arrow-right');
		});

		init();
	</script>
</body>
</html>